{% extends "layout.html" %}
{% block title %}
Calculation
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/creep_coeff.js"></script>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                Inputs
            </div>
            <div class="card-body overflow-auto">
                <div id="inputs-form" data-inputs="{{ inputs }}"></div>
                {% block inputs %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="card">
            <div class="card-header">
                Calculation Report
            </div>
            <div class="card-body overflow-auto">
                {%if report %}
                {% for section in report.sections %}
                <div class="report-div">
                    {% for step in section.steps %}
                    <div>
                        {%if step.expression %}
                        <span class="message">{{ step.description }}, </span>
                        <span class="message">\({{ step.symbol }}\) = </span>
                        <span class="message">\({{ step.expression }}\) = </span>
                        <span class="message">\({{ step.value }}\) {{ step.unit }} </span>
                        {%elif step.symbol %}
                        <span class="message">{{ step.description }}, </span>
                        <span class="message">\({{ step.symbol }}\) = </span>
                        <span class="message">\({{ step.value }}\) {{ step.unit }} </span>
                        {% else %}
                        <span class="message">{{ step.text }}</span>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}