{% extends "layout.html" %}
{% block title %}
Calculation
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/creep_coeff.js"></script>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                Inputs
            </div>
            <div class="card-body overflow-auto">
                <div id="inputs-form" data-inputs="{{ inputs }}"></div>
                {% block inputs %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="card">
            <div class="card-header">
                Calculation Report
            </div>
            <div class="card-body overflow-auto">
                {%if report %}
                {% for section in report.sections %}
                {%if section.sections %}
                <div class="row">
                    {% for subsection in section.sections %}
                    <div class="col">
                        <p>{{ subsection.header }}</p>
                        <div class="report-section-div">
                            {% for step in subsection.steps %}
                            {%include "report_step.html" %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div>
                    <p>{{ section.header }}</p>
                    <div class="report-section-div">
                        {% for step in section.steps %}
                        {%include "report_step.html" %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}